<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>
        Login
      </mat-label>
      <input matInput type="email" formControlName="login" required />
      <mat-icon matSuffix class="icon">
        person
      </mat-icon>
      <mat-error *ngIf="login.errors?.required">
        This field is required
      </mat-error>
      <mat-error *ngIf="login.errors?.email">
        This is not a valid email address
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>
        Password
      </mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>
          {{ hidePassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="password.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <button type="submit" color="primary" mat-stroked-button>
      Log in
    </button>
  </p>
</form>
