@import "variables";

.header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

  &__icon {
    margin: 0 8px;
  }

  &__button {
    display: inline-block !important; // Firefox 68 fix
  }
}

.actions {
  display: flex;
  align-items: center;

  &__error {
    color: $color-red-500;
    margin: 0;
  }

  &__submit {
    margin-left: auto;
  }
}
