$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;

$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

$color-white: #ffffff;
$color-grey-300: #e0e0e0;
$color-grey-400: #c6c6c6;
$color-grey-700: rgba(0, 0, 0, 0.15);
$color-yellow-500: #ffd740;
$color-red-500: #f44336;
