@import "variables";

.anchor {
  text-decoration: none;
  outline: none;
  color: $color-black;
  transition: color 0.2s;

  &:hover,
  &.focus-visible {
    color: $color-purple-600;
  }
}

.movie-details {
  display: flex;
  justify-content: space-between;
}

.actor {
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__image {
    background-size: cover;
    background-color: $color-grey-700;
  }

  &__country {
    margin-bottom: 0;
  }
}
