@import "variables";

.toolbar {
  padding: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.content {
  padding-top: 15px;
  padding-bottom: 15px;
  @media (min-width: $grid-breakpoint-md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
