@import "variables";

.mat-header-cell,
.mat-cell {
  padding: 0 24px;
}

.table {
  position: relative;
  min-height: 300px;
  background-color: $color-white;

  &__title {
    width: 100%;
  }
}

.loading-screen {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  margin-top: 1px; // Chrome 76 fix

  &_loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.chip {
  padding: 7px 12px;
  font-weight: 500;
  border-radius: 16px;

  &_color_grey {
    background-color: $color-grey-300;
  }

  &_color_yellow {
    background-color: $color-yellow-500;
  }
}

.position {
  text-align: right;
}

.title {
  color: inherit;
  text-decoration: none;
  transition: background-color 0.2s;
  outline: none;

  &:focus,
  &:hover {
    background-color: $color-grey-400;
  }
}

.metascore {
  text-align: right;
}
